.temperature{
	background-color: red !important;
}
.humidity{
	background-color: blue !important;
}
.pressure{
	background-color: purple !important;
}
.altitude{
	background-color: green !important;
}